@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body{
    background-color: var(--main-primary-color);
}
.App{
    display: flex;
    flex-direction: column;
}